<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb2">
  <a class="navbar-brand" href="/">Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        {{#if session.cart.totalQty}}
          <a class="nav-link dropdown-toggle" href="#" id="cartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-shopping-cart"></span> Shopping cart

            <span class="badge badge-pill badge-success">
              {{ session.cart.totalQty }}
            </span>
          </a>

          <div class="dropdown-menu pb-0" aria-labelledby="cartDropdown">
            {{#each session.cart.items as |product|}}
              <a class="dropdown-item" href="/product/{{ product.item._id }}">
                {{ product.item.title }} ({{ product.qty }})
              </a>
            {{/each}}

            <div class="dropdown-divider mb-0"></div>

            <div class="dropdown-item bg-info text-white">
              <div class="row">
                <div class="col-md-6">
                  <span class="fa fa-database"></span> {{ session.cart.totalQty }}
                </div>
                <div class="col-md-6">
                  <span class="fa fa-usd"></span> {{ session.cart.totalPrice }}                  
                </div>
              </div>
            </div>

            <div class="dropdown-divider mt-0 mb-0"></div>

            <div class="">
              <div class="btn-group" style="width:100%" role="group" aria-label="Basic example">
                <a class="btn btn-outline-primary" style="width:50%" href="/shopping-cart">Cart <span class="fa fa-shopping-cart"></span></a>
                <a class="btn btn-outline-success" style="width:50%" href="/checkout">Checkout  <span class="fa fa-handshake-o"></span></a>
              </div>
            </div>
          </div>
        {{else}}
          <a class="nav-link" href="/shopping-cart">
            <span class="fa fa-shopping-cart"></span> Shopping cart
          </a>
        {{/if}}
      </li>

      {{#if isAuthenticated}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Managment
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/profile"><span class="fa fa-user"></span> User account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout"><span class="fa fa-sign-out"></span> Logout</a>
          </div>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/sign-up"><span class="fa fa-user-plus"></span> Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign-in"><span class="fa fa-sign-in"></span> Sign in</a>
        </li>
      {{/if}}

    </ul>

  </div>

</nav>