  <div class="row">
    <div class="col-md-5 mb-3">
      <img class="full-image img-thumbnail" src="{{ product.imagePath }}" alt="{{ product.title }}">
    </div>

    <div class="col-md-7">
      <h4 class="">
        {{ product.title }} 
      </h4>
        
      <div class="card-text">
        {{ product.description }}
      </div>

      <div class="row mt-4">
        <div class="price col-md-5">
          <span class="price-value text-info pl-3 pr-3 bg-light rounded">
            <span class="fa fa-usd"></span> {{ product.price }}
          </span>
        </div>

        <div class="col-md-7 text-right">
          <a href="/add-to-cart/{{ product.id }}" class="btn btn-success">
            Buy
            {{#if cartProduct.qty}}
              <span class="badge badge-warning">{{ cartProduct.qty }}</span>
            {{/if}}
          </a>
        </div>
      </div>
    </div>
  </div>
  
